div {
    min-width: 300px;
    max-width: 500px;
    margin-top: 10px;
    border: 1px solid black;
    display: inline-block;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
    div{
        background-color: aquamarine;
        height: 100px;
    }
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    div{
        background-color: rgb(2, 54, 133);
        height: 300px;
    }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    div{
        background-color: rgb(100, 4, 92);
    }
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    div{
        background-color: rgb(104, 2, 16);
    }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    div{
        background-color: rgb(58, 71, 0);
    }
}